@import '~bootstrap/scss/bootstrap';

.navb {
  background: rgba(159, 162, 165, 0.2);
  color: #fff;
  border-bottom: 3px solid #434a52;
}

body {
  background: url("https://raw.githubusercontent.com/eliw09/vacation-budget-planner-client/master/assets/styles/try.jpg") no-repeat 50% 50% fixed;
  background-size: cover;
}

.main {
  width: 775px;
  // height: 775px;
  margin: auto;
  padding: 8% 0 0 0;
}

.innermain {
  position: realtive;
  z-index: 1;
  background: rgba(159, 162, 165, 0.7);
  color: #fff;
  max-width: 775px;
  // max-height: 775px;
  margin: 0;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-top: 3px solid #434a52;
  border-bottom: 3px solid #434a52;
  border-left: 3px solid #434a52;
  border-right: 3px solid #434a52;
}

.main button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #01499E;
  width: 100%;
  border: 2px solid #434a52;
  padding: 15px;
  margin: 2px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

#back-e, #next-e, #back, #next {
  width: auto;
}

.main button:hover,.main button:active,.main button:focus {
  background: #006DBF;
}

hr {
  border: 2px solid #434a52;
}

#authmessage {
  color: white;
  justify-content: center;
  text-align: center;
}

.geo-weather {
  width: 360px;
  // height: 775px;
  margin: auto;
  padding: 4% 0 0 0;
}

.geo-weather-form {
  position: realtive;
  z-index: 1;
  background: rgba(159, 162, 165, 0.7);
  color: #fff;
  max-width: 360px;
  // max-height: 775px;
  margin: 0;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-top: 3px solid #434a52;
  border-bottom: 3px solid #434a52;
  border-left: 3px solid #434a52;
  border-right: 3px solid #434a52;
}

.geo-weather-form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #01499E;
  width: 49%;
  border: 0;
  padding: 9px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}


// Login Form //

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: rgba(159, 162, 165, 0.7);
  max-width: 360px;
  margin: 0 auto;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-top: 3px solid #434a52;
  border-bottom: 3px solid #434a52;
  border-left: 3px solid #434a52;
  border-right: 3px solid #434a52;
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #3b4148;
  color: #a9a9a9;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #01499E;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
  background: #006DBF;
}

.form .message {
  margin: 15px 0 0;
  color: #fff;
  font-size: 12px;
}

.form .message a {
  color: #01499E;
  text-decoration: none;
}

.form #sign-up {
  display: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}

.container .info {
  margin: 50px auto;
  text-align: center;
}

.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}

.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}

.container .info span a {
  color: #000000;
  text-decoration: none;
}

.container .info span .fa {
  color: #EF3B3A;
}

// End Login Form //

// Account Form //

.account-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.accpage {
  position: relative;
  z-index: 1;
  background: rgba(159, 162, 165, 0.7);
  max-width: 360px;
  margin: 0 auto;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-top: 3px solid #434a52;
  border-bottom: 3px solid #434a52;
  border-left: 3px solid #434a52;
  border-right: 3px solid #434a52;
}

.accpage input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #3b4148;
  color: #a9a9a9;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.accpage button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #01499E;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.accpage button:hover, .accpage button:active, .accpage button:focus {
  background: #006DBF;
}

.accpage .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.accpage .message a {
  color: #4CAF50;
  text-decoration: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}

.container .info {
  margin: 50px auto;
  text-align: center;
}

.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}

.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}

.container .info span a {
  color: #000000;
  text-decoration: none;
}

.container .info span .fa {
  color: #EF3B3A;
}

// End Account Form //
